$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$white: #fff;
$black: #000;
$braspberry: #300018;
// dark purple
$peace-and-goodwill: #5A3D31;
// chocolate
$olives: #837B47; // green olive
$gardens: #ADB85F;
// lighter green
$reflection: #E5EDB8;
//light green
@import url(https://fonts.googleapis.com/css?family=Lato);
$font-stack: Lato, Helvetica, sans-serif;

body {
  font-family: $font-stack;
  font-size: 16px;
  min-height: 2000px;
  padding-top: 25px;
  background-color: $braspberry;
}

h3 {
  color: $reflection;
}

.btn {
  border: 2px solid $peace-and-goodwill;
  border-radius: 5px;
  padding: 7px 30px;
}

.btn-primary {
  background-color: $reflection;
  color: $black;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: $reflection;
    background-color: $braspberry;
    border-color: $reflection;
}

.btn-warning {
  background-color: $braspberry;
  color: $reflection;
  border-color: $reflection;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: $braspberry;
    background-color: $reflection;
    border-color: $braspberry;
}

button {
  margin-top: 20px;
}

.jumbotron {
  background-color: $gardens;
}

form {
  margin: 30px;
}
// Sidebar navigation
.nav-sidebar {
  margin-right: -21px;
  // 20px padding + 1px border
  margin-bottom: 20px;
  margin-left: -20px;

}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: $reflection;
}

.nav-sidebar a:hover {
  color: $braspberry;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
  color: red;
}

.main {
  background-color: $reflection;
  min-height: 0;
}

p > a {
  color: $olives;
}
p > a:hover {
  color: $peace-and-goodwill;
}

.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-radius: 2px;
  border: 0;
}
.panel-group .panel-heading {
  padding: 0;
}
.panel-group .panel-heading a {
  display: block;
  background: $gardens;
  color: $white;
  padding: 15px;
  text-decoration: none;
  position: relative;
}
.panel-group .panel-heading a.collapsed {
  background: $reflection;
  color: inherit;
}
.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 20px;
  top:5px;
  font-size:30px;
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
.panel-group .panel-collapse {
  margin-top: 5px !important;
}
.panel-group .panel-body {
  background: $white;
  padding: 15px;
}
.panel-group .panel {
  background-color: transparent;
}
.panel-group .panel-body p:last-child,
.panel-group .panel-body ul:last-child,
.panel-group .panel-body ol:last-child {
  margin-bottom: 0;
}
